.descriptionSection {
  background-color: rgba(214,229,228,0.39);
  padding: 2rem 0;
  margin: 0;
}

.descriptionGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.descriptionVisual {
  flex: 1 1 40%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionVisual img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.descriptionContent {
  flex: 1 1 50%;
  min-width: 280px;
}

.headline {
  font-size: 1.75rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: var(--ifm-heading-color);
  font-family: 'Quicksand';
}

.paragraph {
  font-size: 1.3rem;
  line-height: 1.75;
  color: var(--ifm-font-color-base);
  font-family: 'Quicksand';
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .descriptionSection {
    background-color: white;
  }
}